services:
  nextjs:
    build: .
    container_name: next-remodo
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: unless-stopped
  mongo:
    image: mongo:7
    container_name: mongo-remodo
    volumes:
      - mongo-data:/data/db
    ports:
      - 27017:27017
    restart: unless-stopped
volumes:
  mongo-data: